PORT=3000
ADMIN_EMAIL=tirths1308@gmail.com
ADMIN_PASSWORD=myadmin123
EMAIL_SERVICE=gmail
GMAIL_USER=tirths1308@gmail.com
GMAIL_APP_PASSWORD=jyhzimzrcbxygseq
OWNER_EMAIL=tirths1308@gmail.com
CONTACT_NOTIFICATION_EMAIL=tirths1308@gmail.com
EMAIL_TLS_REJECT_UNAUTHORIZED=false
